<!-- register.component.html -->
<div class="container">
  <img class="loginimg" src="https://www.scnsoft.com/blog-pictures/software-development-outsourcing/leave-management-software.png">
  <img class="logo-overlay" src="https://uploads-ssl.webflow.com/60cb8979aa0d47232e309268/60cb9e4df1877a2388b5c590_IVIS_Logo-p-500.png" alt="Logo">
  <div id="wrapper">
    <div class="form">
      <form [formGroup]="registerformE">
        <h1 class="registers" style=" font-family: Verdana, Geneva, Tahoma, sans-serif;" >REGISTER <a style=" font-family: Verdana, Geneva, Tahoma, sans-serif;" routerLink="/login" class="login">Login</a></h1>



        <label for="Department" style=" font-family: Verdana, Geneva, Tahoma, sans-serif;">Department Name</label>
        <select  id="Department" formControlName="departmentName" class="department">
          <option value="" disabled selected hidden style=" font-family: Verdana, Geneva, Tahoma, sans-serif;">Select</option>
          <option *ngFor="let dept of departments" [value]="dept" style=" font-family: Verdana, Geneva, Tahoma, sans-serif;">{{ dept }}</option>
        </select>


        <label for="Name" style=" font-family: Verdana, Geneva, Tahoma, sans-serif;">Name</label>
        <input type="text" id="name" class="space" formControlName="name" placeholder="Enter">
        <div class="requiredname">
        <!-- <span style="color: red;" *ngIf="registerformE.controls['name'].invalid && clicked">*required</span> -->
</div>


      <label for="password">Password</label>
        <input [type]="changetype ? 'password' : 'text'" id="password" formControlName="password" placeholder="Enter">
        <span class="eye" (click)="viewpass()"><i [ngClass]="visible ? 'fa-regular fa-eye' : 'fa-regular fa-eye-slash'"></i></span>
        <!-- <span  style="color: red;" *ngIf="registerformE.controls['password'].invalid && clicked">*required</span> -->


        <label for="role" style=" font-family: Verdana, Geneva, Tahoma, sans-serif;">Job Role</label>
        <select id="role" formControlName="role" class="department">
          <option value="" disabled selected hidden style=" font-family: Verdana, Geneva, Tahoma, sans-serif;">Select</option>
          <option *ngFor="let role of roles" [value]="role" style=" font-family: Verdana, Geneva, Tahoma, sans-serif;">{{ role }}</option>
        </select>


        <label for="Phone" style=" font-family: Verdana, Geneva, Tahoma, sans-serif;" >Mobile Number</label>
        <input type="text" id="Phone" formControlName="mobileNo" placeholder="Enter">


        <label for="Email" style=" font-family: Verdana, Geneva, Tahoma, sans-serif;">Email Id</label>
        <input type="text" id="Email" formControlName="email" placeholder="Enter">


        <div>
          <label for="Manager" style=" font-family: Verdana, Geneva, Tahoma, sans-serif;">Manager ID</label>
        <select   id="Manager" formControlName="manager" class="department">
          <option value="" disabled selected hidden style=" font-family: Verdana, Geneva, Tahoma, sans-serif;">Select<span class="required-asterisk"></span></option>
          <option *ngFor="let id of managerIds" [value]="id">{{ id }}</option>
        </select>
      </div>


          <input type="text" name="submit" id="submit" class="submits" value="SUBMIT" (click)="registerE()">

      </form>
    </div>
  </div>
</div>
